{%- macro delete_entry(name) %}

<div class="form-entry">
    <label for="select-{{ name }}">Select {{ name }}</label>
    <select name="select-{{ name }}" id="select-{{ name }}"></select>
    <button id="delete-{{ name }}" type="button">Delete</button>
</div>

{% endmacro %}
{%- macro add_entry(name) %}

<div class="form-entry">
    <label for="add-{{ name }}">Add {{ name }}</label>
	<input type="text" id="input-{{ name }}" placeholder="{{ name }} name"/>
    <button id="add-{{ name }}" type="button">Add</button>
</div>

{% endmacro %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./css/index.css" />
        {% for dep in deps -%}
        <script src="{{ dep }}" defer></script>
        {% endfor %}
    </head>
    <body>
        <h1 class="title m-center">Graph Drawing Frontend</h1>
        <form class="m-center">
            <div id="graph-form-section" class="form-section">
                {{ delete_entry('graph') }}
                <div class="hsep"></div>
                {{- add_entry('graph') -}}
            </div>
            <div class="vsep"></div>
            <div id="node-form-section" class="form-section">
                {{- delete_entry('node') -}}
                <div class="hsep"></div>
                {{- add_entry('node') -}}
            </div>
            <div class="vsep"></div>
            <div id="edge-form-section" class="form-section">
                {{- delete_entry('edge') -}}
                <div class="hsep"></div>
                {{- add_entry('edge') -}}
            </div>
        </form>
        <div class="graph-drawing m-center">
            <canvas id="graph-canvas" class="m-center" width="400" height="400">graph-drawing</canvas>
        </div>
    </body>
</html>
